@import url("https://fonts.googleapis.com/css2?family=Meddon&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=League+Script&family=Dancing+Script:wght@400..700&family=Italianno&family=Grandiflora+One&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&family=Life+Savers:wght@400;700;800&family=Gowun+Dodum&display=swap");
@font-face {
    font-family: 'InkLiquid';
    src: url('@/image/font/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: 'Francisco';
    src: url('@/image/font/FranciscoDemo.ttf') format('truetype');
}
// font
.font-normal {
  font-size: 14px;
}

.font-large {
  font-size: 20px;
}

body {
  background-color: var(--bg-color);
}

.backColor_1 {
  background-color: var(--section1);
}

.backColor_2 {
  background-color: var(--section2);
}

.backColor_3 {
  background-color: var(--section3);
}

.backColor_default {
  background-color: var(--bg-default);
}

.button {
  background: var(--button-color);
}

.title {
  color: var(--text-color);
}
